<?xml version="1.0" ?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Sales\Model\OrderRepository">
        <plugin name="add_custom_delivery_date_to_extension_attribute"
                type="Overdose\CustomDeliveryDate\Plugin\Model\OrderRepositoryPlugin"
        />
    </type>
</config>
